@charset "utf-8";

body{
    background-color: #303030;
    color: white;
}
a:link {
    color: white;
    text-decoration: underline;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
}
.station{
    fill: white;
    background-color: #303030;
}
.line{
    fill: white;
    background-color: #303030;
}
.line2{
    fill: white;
    background-color: #303030;
}
.loc_move{
    font-size: 13px;
}
.station2{
    fill: white;
    background-color: #303030;
}
.train.line26001 {
    border-color: orange;
}
.train.line26003 {
    border-color: mediumseagreen;
}
.train.line26005 {
    border-color: red;
}
.train {
    position: relative;
    width: 96px;
    height: 24px;
}
div {
    display: block;
}
.train > .box {
    position: absolute;
    left: 4px;
    top: 0;
    width: 56px;
    height: 20px;
    background-color: white;
    border: solid;
    border-color: inherit;
    border-width: 2px;
    font-size: 12px;
    color: #303030;
}
.train > .down {
    position: absolute;
    left: 64px;
    top: 0;
    width: 0;
    height: 0;
    border: solid;
    border-width: 12px 0 12px 4px;
    border-left-color: inherit;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.train > .up {
    position: absolute;
    left: 0px;
    top: 0;
    width: 0;
    height: 0;
    border: solid;
    border-width: 12px 4px 12px 0;
    border-left-color: transparent;
    border-right-color: inherit;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.section {
    position: absolute;
    left: 0px;
    height: 96px;
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.train > .info {
    position: absolute;
    left: 67px;
    top: 10px;
    width: 48px;
    height: 16px;
    color: white;
    font-size: 12px;
    z-index: 3;
}