@charset "utf-8";

body{
    background-color: #303030;
    color: white;
}
a:link {
    color: white;
    text-decoration: underline;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:active {
    color: white;
}